{% include "ec/base.html" %}


<html>
{% block content %}
<center>
<h1> SHOPPING CART</h1></center>
<center><h2> ITEMS LIST </h2></center>

{% if item_list %}
    <ul>
	{% for item in item_list %}
			<li>{{item.name}}</li>
	<form action = "/items/delete/{{item.id}}" method = "get">
    <input type = "Submit" value = "delete">
        </form>
	{% endfor %}

{% endif %}
<center>
	<h2>TOTAL PRICE: ${{price}}</h2>
		</center>
<center>
	<form action = "/items/" method = "get">
    <input type = "Submit" value = "SHOP">
        </form>
	</center>

<center>
	<form action = "/items/payment" method = "get">
    <input type = "Submit" value = "PAYMENT">
        </form>
	</center>
	{% endblock %}

</html>
