<div style="background-color:black; color:white; padding:20px;">

<style>
a:link    {color:white; background-color:transparent; text-decoration:none}
a:visited {color:pink; background-color:transparent; text-decoration:none}
a:hover   {color:white; background-color:transparent; text-decoration:underline}
a:active  {color:#ff0000; background-color:transparent; text-decoration:underline}
</style>

<h1>Item</h1>

{% if status != 0 %}
	 <ul>
	 	<li>{{ item.name }}</li>
	 </ul>
{% else %}
	<p>No items are available.</p>
{% endif %}


<!-- {{item.name}} -->


<!-- {% if item.item_set.all %}
    <ul>
    {% for item in item.item_set.all %}
        <li>{{ item.name }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No items are available.</p>
{% endif %} -->