
<head>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "ec/base.css" %}" type="text/css"/>

</head>
<body> 
	<!-- <h1 id="test"> Anabells page </h1> -->
	<!-- <img src="{% static "ec/pic.jpg" %}" alt="My image"/> -->
{% block content %}
<div style="background-color:black; color:white; padding:20px;">
<body>
	<center><h1> DIVA SHOP</h1>
	<form action="/users/log_out" method="post">
		{% csrf_token %}
		<input type = "submit" value = "log Out">
		<br>
	</form>
	<a href="/items/">SHOP</a>


</center>
	</body>
{% endblock %}
</body>